@charset "UTF-8";
html {
  box-sizing: border-box;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567902/bg-1.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  padding: 50px 0;
}

svg {
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 30px;
  border-radius: 50%;
  margin-bottom: 50px;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  max-width: 350px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.plates li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 100;
}
.plates label {
  flex: 1;
  cursor: pointer;
}
.plates input {
  display: none;
}
.plates input + label:before {
  content: '⬜️';
  margin-right: 10px;
}
.plates input:checked + label:before {
  content: '🌮';
}

.add-items {
  margin-top: 20px;
}
.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.add-items input[type="submit"] {
  background: #03B8ED;
  color: #fff;
}
